@model SistemaCondominios.Models.Propietario

@{
    ViewData["Title"] = "Detalles del Propietario";
}

<h2 class="text-info">Detalles del Propietario</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.NombreCompleto</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Teléfono</dt>
        <dd class="col-sm-10">@Model.Telefono</dd>

        <dt class="col-sm-2">Propiedad</dt>
        <dd class="col-sm-10">@Model.NumeroPropiedad</dd>

        <dt class="col-sm-2">Estado</dt>
        <dd class="col-sm-10">@Model.Estado</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.PropietarioId" class="btn btn-warning">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
